.activity-page .activity-image-card {
  height: 200px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s;
}

.activity-page .activity-image-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
