/* Hero Section */
.hero {
    height: 83vh;
    background: linear-gradient(rgba(0, 0, 255, 0.658),rgba(255, 255, 0, 0.712));
    overflow: hidden;
    position: relative;
    background-size: cover;
    animation: slideshow 25s infinite linear;
}

/* Club Cards Hover */
.club-card:hover {
    transform: translateY(-10px) scale(1.02);
    transition: all 0.3s ease-in-out;
}

.club-image {
    height: 200px;
    object-fit: cover;
}

/* Gallery */
.carousel-inner img {
    height: 400px;
    object-fit: cover;
}