.hero-section {
  background: linear-gradient(135deg, #f5c400,#00296b);
  color: white;
  min-height: 80%;
}

.hero-section .event-card {
  background: white;
  color: black;
  border-left: 6px solid #f5c400;
  transition: transform 0.3s ease;
}

.hero-section .event-card:hover {
  transform: translateY(-5px);
}
