.animated-navbar {
    transition: all 0.4s ease;
    background-color: rgba(0, 47, 108, 0.9);
    padding: 1rem 0;
}

.animated-navbar.navbar-shrink {
    padding: 0.3rem 0;
    background-color: #002f6c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand img {
    transition: transform 0.3s ease, height 0.3s ease;
}

.navbar-shrink .navbar-brand img {
    height: 40px;
    /* reduce logo size on scroll */
}

.nav-animated-link {
    color: #ffffff !important;
    transition: color 0.3s, transform 0.3s;
}

.nav-animated-link:hover {
    color: #f1c40f !important;
    transform: translateY(-2px);
}

.profile-icon-link {
    transition: color 0.3s, transform 0.3s;
}

.profile-icon-link:hover {
    color: #f1c40f !important;
    transform: scale(1.2);
}