

.upcoming-events h2 {
  color: #f5c400;
}

.accordion-button {
  background-color: #fff;
  color: #00296b;
  transition: background-color 0.3s, color 0.3s;
}

.accordion-button:hover,
.accordion-button:not(.collapsed) {
  background-color: #00296b;
  color: #fff;
}

.accordion-body {
  background-color: #f8f9fa;
}

.accordion-button:focus {
  box-shadow: none;
}

.event-header {
  font-size: 1.1rem;
}
